@import "main-styles.scss";
@import "main-fonts.scss";

.preloader__container2 {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: scale(.7);
  width: 40vw;
  animation: 1s anim_logoEpikur__container2 2500ms ease-out forwards;
  transition: 1s;
}

.preloader__container2.smallLogo {
  transform: scale(.3);
  left: -13%;
  top: -3.7% !important;
}
@keyframes anim_logoEpikur__container2 {
  to {
    top: -0.5vw;
    left: -15vw;
    transform: scale(0.2);
  }

}

.preloader__container {
  border-radius: 100%;
  z-index: 3;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  animation: 2s anim_logoEpikur__container 3s linear forwards;
  transition: 1s;
}
.second-preloader__container {
  border-radius: 100%;
  z-index: 1;
  background: #ffffff;
  position: absolute;
  top: -60px;
  left: -60px;
  width: 25vw;
  transition: 1000ms;
  transform: scale(0.15);
}
.hiddenLogo {
  opacity: 0;
  visibility: hidden;
}

@keyframes anim_logoEpikur__container {
  50% {
    left: 20px;
    top:50%;
    transform: translate(-10%, -50%) scale(0.7);
  }
  75% {
    top:-10.5vw;
    left:-10vw;
    transform: scale(0.06);
  }

  100% {
    top:-17.5vw;
    left:-9vw;
    transform: scale(0.05);

  }
}

.logoEpikur__path {
  stroke-width: 100;
  stroke-linejoin: round;
  stroke: $main_color_light_green;
  fill: transparent;
  stroke-dasharray: 1000%;
  animation: 4s logoEpikur__path 0s linear forwards;
}
@keyframes logoEpikur__path {
  0% {
    stroke-dashoffset: 1000%;
  }
  85% {
    fill: transparent;
  }
  100% {
    fill: $main_color_light_green;
    stroke-dashoffset: 0;
  }
}

.logoEpikur__path1 {
  stroke-width: 100;
  stroke-linejoin: round;
  stroke: $main_color_light_green;
  fill: none;
  stroke-dasharray: 3500%;
  animation: 3s anim_logoEpikur__path1 0s linear forwards;
}

@keyframes anim_logoEpikur__path1 {
  0% {

    stroke-dashoffset: 3500%;
  }
  85% {
    fill: transparent;
  }
  100% {
    fill: $main_color_light_green;
    stroke-dashoffset: 0;
  }
}

.logoEpikur__path2 {
  stroke-width: 100;
  stroke-linejoin: round;
  stroke: $main_color_light_green;
  fill: transparent;
  stroke-dasharray: 1800%;
  animation: 1500ms logoEpikur__path2 0s linear forwards;
}

@keyframes logoEpikur__path2 {
  0% {
    stroke-dashoffset: 1800%; // 1 / 20 мигание
  }
  85% {
    fill: transparent;
  }
  100% {
    fill: $main_color_light_green;
    stroke-dashoffset: 0;

  }
}
